body {
  background-color: white;
}
.container img {
  display: block;
  margin: auto;
  width: 1in;
  margin-top: 200px;
}
.container p {
  text-align: center;
  color: black;
  font-family: "Segoe UI";
}
#sm {
  text-align: center;
}

#header {
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;
}
#header a {
  font-size: x-large;
  font-weight: bold;
  text-decoration-color: white;
  color: black;
}
